In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('train.csv')

In [62]:
data1['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [4]:
name=data.Name

In [21]:
def part(x):
    return ((x.split(',')[1]).split('.')[0])

name1=name.map(part)

In [22]:
name1

0           Mr
1          Mrs
2         Miss
3          Mrs
4           Mr
5           Mr
6           Mr
7       Master
8          Mrs
9          Mrs
10        Miss
11        Miss
12          Mr
13          Mr
14        Miss
15         Mrs
16      Master
17          Mr
18         Mrs
19         Mrs
20          Mr
21          Mr
22        Miss
23          Mr
24        Miss
25         Mrs
26          Mr
27          Mr
28        Miss
29          Mr
        ...
861         Mr
862        Mrs
863       Miss
864         Mr
865        Mrs
866       Miss
867         Mr
868         Mr
869     Master
870         Mr
871        Mrs
872         Mr
873         Mr
874        Mrs
875       Miss
876         Mr
877         Mr
878         Mr
879        Mrs
880        Mrs
881         Mr
882       Miss
883         Mr
884         Mr
885        Mrs
886        Rev
887       Miss
888       Miss
889         Mr
890         Mr
Name: Name, Length: 891, dtype: object

In [24]:
data['Name']=name1

In [34]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [35]:
data1=data.drop(['PassengerId'],axis='columns')

In [37]:
target=data1['Survived']

In [39]:
data1=data1.drop(['Survived'],axis='columns')

In [40]:
data1

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,Mr,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,Mrs,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,Miss,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,Mrs,female,35.0,1,0,113803,53.1000,C123,S
4,3,Mr,male,35.0,0,0,373450,8.0500,NaN,S
5,3,Mr,male,NaN,0,0,330877,8.4583,NaN,Q
6,1,Mr,male,54.0,0,0,17463,51.8625,E46,S
7,3,Master,male,2.0,3,1,349909,21.0750,NaN,S
8,3,Mrs,female,27.0,0,2,347742,11.1333,NaN,S
9,2,Mrs,female,14.0,1,0,237736,30.0708,NaN,C
10,3,Miss,female,4.0,1,1,PP 9549,16.7000,G6,S
11,1,Miss,female,58.0,0,0,113783,26.5500,C103,S
12,3,Mr,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,3,Mr,male,39.0,1,5,347082,31.2750,NaN,S
14,3,Miss,female,14.0,0,0,350406,7.8542,NaN,S
15,2,Mrs,female,55.0,0,0,248706,16.0000,NaN,S
16,3,Master,male,2.0,4,1,382652,29.1250,NaN,Q
17,2,Mr,male,NaN,0,0,244373,13.0000,NaN,S
18,3,Mrs,female,31.0,1,0,345763,18.0000,NaN,S
19,3,Mrs,female,NaN,0,0,2649,7.2250,NaN,C
20,2,Mr,male,35.0,0,0,239865,26.0000,NaN,S
21,2,Mr,male,34.0,0,0,248698,13.0000,D56,S
22,3,Miss,female,15.0,0,0,330923,8.0292,NaN,Q
23,1,Mr,male,28.0,0,0,113788,35.5000,A6,S
24,3,Miss,female,8.0,3,1,349909,21.0750,NaN,S
25,3,Mrs,female,38.0,1,5,347077,31.3875,NaN,S
26,3,Mr,male,NaN,0,0,2631,7.2250,NaN,C
27,1,Mr,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,3,Miss,female,NaN,0,0,330959,7.8792,NaN,Q
29,3,Mr,male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...
861,2,Mr,male,21.0,1,0,28134,11.5000,NaN,S
862,1,Mrs,female,48.0,0,0,17466,25.9292,D17,S
863,3,Miss,female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,2,Mr,male,24.0,0,0,233866,13.0000,NaN,S
865,2,Mrs,female,42.0,0,0,236852,13.0000,NaN,S
866,2,Miss,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,1,Mr,male,31.0,0,0,PC 17590,50.4958,A24,S
868,3,Mr,male,NaN,0,0,345777,9.5000,NaN,S
869,3,Master,male,4.0,1,1,347742,11.1333,NaN,S
870,3,Mr,male,26.0,0,0,349248,7.8958,NaN,S
871,1,Mrs,female,47.0,1,1,11751,52.5542,D35,S
872,1,Mr,male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,3,Mr,male,47.0,0,0,345765,9.0000,NaN,S
874,2,Mrs,female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,3,Miss,female,15.0,0,0,2667,7.2250,NaN,C
876,3,Mr,male,20.0,0,0,7534,9.8458,NaN,S
877,3,Mr,male,19.0,0,0,349212,7.8958,NaN,S
878,3,Mr,male,NaN,0,0,349217,7.8958,NaN,S
879,1,Mrs,female,56.0,0,1,11767,83.1583,C50,C
880,2,Mrs,female,25.0,0,1,230433,26.0000,NaN,S
881,3,Mr,male,33.0,0,0,349257,7.8958,NaN,S
882,3,Miss,female,22.0,0,0,7552,10.5167,NaN,S
883,2,Mr,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,3,Mr,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,3,Mrs,female,39.0,0,5,382652,29.1250,NaN,Q
886,2,Rev,male,27.0,0,0,211536,13.0000,NaN,S
887,1,Miss,female,19.0,0,0,112053,30.0000,B42,S
888,3,Miss,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,Mr,male,26.0,0,0,111369,30.0000,C148,C
890,3,Mr,male,32.0,0,0,370376,7.7500,NaN,Q

In [44]:
from sklearn import preprocessing

lab=preprocessing.LabelEncoder()
data1['Name']=lab.fit_transform(data1['Name'])

In [61]:
from sklearn import preprocessing

lab=preprocessing.LabelEncoder()
data1['Embarked']=lab.fit_transform(data1['Embarked'])

TypeError: '<' not supported between instances of 'float' and 'str'

In [50]:
from sklearn import preprocessing

lab=preprocessing.LabelEncoder()
data1['Sex']=lab.fit_transform(data1['Sex'])

In [57]:
data2=data1.drop('Ticket',axis='columns')

In [58]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(data2,target,test_size=0.4,random_state=1)

In [55]:
y_train

146    1
221    0
725    0
682    0
502    0
491    0
359    1
603    0
165    1
284    0
80     0
227    0
353    0
310    1
259    1
323    1
9      1
604    1
555    0
699    0
179    0
27     0
718    0
855    1
361    0
293    0
745    0
5      0
197    0
700    1
      ..
86     0
478    0
503    0
753    0
215    1
580    1
562    0
398    0
668    0
490    0
252    0
468    0
357    0
254    0
276    0
178    0
281    0
390    1
508    0
749    0
583    0
129    0
144    0
847    0
645    1
715    0
767    0
72     0
235    0
37     0
Name: Survived, Length: 534, dtype: int64

In [60]:
x_train

     Pclass  Name  Sex   Age  SibSp  Parch      Fare        Cabin Embarked
146       3    11    1  27.0      0      0    7.7958          NaN        S
221       2    11    1  27.0      0      0   13.0000          NaN        S
725       3    11    1  20.0      0      0    8.6625          NaN        S
682       3    11    1  20.0      0      0    9.2250          NaN        S
502       3     8    0   NaN      0      0    7.6292          NaN        Q
491       3    11    1  21.0      0      0    7.2500          NaN        S
359       3     8    0   NaN      0      0    7.8792          NaN        Q
603       3    11    1  44.0      0      0    8.0500          NaN        S
165       3     7    1   9.0      0      2   20.5250          NaN        S
284       1    11    1   NaN      0      0   26.0000          A19        S
80        3    11    1  22.0      0      0    9.0000          NaN        S
227       3    11    1  20.5      0      0    7.2500          NaN        S
353       3    11    1  25.0      1      0   17.8000          NaN        S
310       1     8    0  24.0      0      0   83.1583          C54        C
259       2    12    0  50.0      0      1   26.0000          NaN        S
323       2    12    0  22.0      1      1   29.0000          NaN        S
9         2    12    0  14.0      1      0   30.0708          NaN        C
604       1    11    1  35.0      0      0   26.5500          NaN        C
555       1    11    1  62.0      0      0   26.5500          NaN        S
699       3    11    1  42.0      0      0    7.6500        F G63        S
179       3    11    1  36.0      0      0    0.0000          NaN        S
27        1    11    1  19.0      3      2  263.0000  C23 C25 C27        S
718       3    11    1   NaN      0      0   15.5000          NaN        Q
855       3    12    0  18.0      0      1    9.3500          NaN        S
361       2    11    1  29.0      1      0   27.7208          NaN        C
293       3     8    0  24.0      0      0    8.8500          NaN        S
745       1     0    1  70.0      1      1   71.0000          B22        S
5         3    11    1   NaN      0      0    8.4583          NaN        Q
197       3    11    1  42.0      0      1    8.4042          NaN        S
700       1    12    0  18.0      1      0  227.5250      C62 C64        C
..      ...   ...  ...   ...    ...    ...       ...          ...      ...
86        3    11    1  16.0      1      3   34.3750          NaN        S
478       3    11    1  22.0      0      0    7.5208          NaN        S
503       3     8    0  37.0      0      0    9.5875          NaN        S
753       3    11    1  23.0      0      0    7.8958          NaN        S
215       1     8    0  31.0      1      0  113.2750          D36        C
580       2     8    0  25.0      1      1   30.0000          NaN        S
562       2    11    1  28.0      0      0   13.5000          NaN        S
398       2     3    1  23.0      0      0   10.5000          NaN        S
668       3    11    1  43.0      0      0    8.0500          NaN        S
490       3    11    1   NaN      1      0   19.9667          NaN        S
252       1    11    1  62.0      0      0   26.5500          C87        S
468       3    11    1   NaN      0      0    7.7250          NaN        Q
357       2     8    0  38.0      0      0   13.0000          NaN        S
254       3    12    0  41.0      0      2   20.2125          NaN        S
276       3     8    0  45.0      0      0    7.7500          NaN        S
178       2    11    1  30.0      0      0   13.0000          NaN        S
281       3    11    1  28.0      0      0    7.8542          NaN        S
390       1    11    1  36.0      1      2  120.0000      B96 B98        S
508       3    11    1  28.0      0      0   22.5250          NaN        S
749       3    11    1  31.0      0      0    7.7500          NaN        Q
583       1    11    1  36.0      0      0   40.1250          A10        C
129       3    11    1  45.0      0      0    6.9750          NaN        S
144       2    11    1  18.0      0      0   11.5000          NaN        S
847       3    11    1  35.0      0      0    7.8958          NaN        C
645       1    11    1  48.0      1      0   76.7292          D33        C
715       3    11    1  19.0      0      0    7.6500        F G73        S
767       3     8    0  30.5      0      0    7.7500          NaN        Q
72        2    11    1  21.0      0      0   73.5000          NaN        S
235       3     8    0   NaN      0      0    7.5500          NaN        S
37        3    11    1  21.0      0      0    8.0500          NaN        S

[534 rows x 9 columns]

In [59]:
from sklearn import linear_model,metrics

reg=linear_model.LogisticRegression()

reg.fit(x_train,y_train)
y_pred=reg.predict(x_test)
reg.score(x_test,y_test)
print("Logistic Regression model accuracy(in %):",metrics.accuracy_score(y_test, y_pred)*100)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: 'S'